---
import indexTexts from "../content/index";
import "../styles/index.css";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="¡Hola y bienvenida a NIARA! Un asistente virtual financiero con enfoque de género , desarrollado por NARANJA ERP AND ACADEMY SAS."
        />
        <meta
            name="keywords"
            content="asistente, whatsapp, niara, financiero"
        />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="NARANJA ERP" />
        <meta name="theme-color" content="#FF7A00" />

        <!-- Open Graph Meta Tags -->
        <meta
            property="og:title"
            content="NIARA | Asistente Virtual Financiero 🤖"
        />
        <meta
            property="og:description"
            content="¡Hola y bienvenida a NIARA! Un asistente virtual financiero con enfoque de género , desarrollado por NARANJA ERP AND ACADEMY SAS."
        />

        <meta property="og:url" content="https://www.niara.io/" />

        <!-- Canonical URL -->
        <link rel="canonical" href="https://www.ejemplo.com/auth/login" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            media="all"
        />
        <title>{indexTexts.TITLE}</title>
    </head>
    <body class="w-full flex flex-col justify-content">
        <nav
            class="w-full h-14 flex justify-center items-center fixed top-0 backdrop-blur-sm"
        >
            <ul class="flex flex-row gap-5">
                <li
                    class="hover:translate-y-1 hover:font-semibold transition-all text-sm md:text-base"
                >
                    <a href="#politicas">Política de privacidad</a>
                </li>
                <li
                    class="hover:translate-y-1 hover:font-semibold transition-all text-sm md:text-base"
                >
                    <a href="#terminos">Términos y condiciones</a>
                </li>
            </ul>
        </nav>
        <div class="w-full flex justify-center h-full min-h-[100vh]">
            <div
                class="lg:w-[80%] sm:w-[85%] w-full h-full min-h-[100vh] flex justify-center items-center my-20 md:my-15"
            >
                <div class="w-full h-auto">
                    <div class="w-full flex flex-row gap-2 lg:px-10 px-2">
                        <div class="flex flex-col gap-2 w-full">
                            <h1 class="font-bold text-2xl text-[#FF7A00]">
                                {indexTexts.TITLE_HOME}<span
                                    class="hover:animate-spin">👋</span
                                >
                            </h1>
                            {
                                indexTexts.CONTENT_HOME.map((t) => (
                                    <p>{t.text}</p>
                                ))
                            }
                            <strong
                                >{indexTexts.STRONG_TEXT_CONTENT_HOME}</strong
                            >
                            <div
                                class="w-full flex justify-center items-center mb-2"
                            >
                                <a
                                    href="/auth/login"
                                    class="p-3 rounded shadow bg-[#FF7A00] text-white font-semibold transition-all hover:-translate-y-1"
                                    >Iniciar Sesión</a
                                >
                            </div>
                            <div
                                class="w-full flex flex-row flex-wrap justify-center items-center gap-5"
                            >
                                {
                                    indexTexts.TEXT_CONTENT_CARDS.map((t) => (
                                        <div class="w-full max-w-md p-6 grid gap-6 border-[0.2px] border-gray-300 shadow-md rounded-lg transition-all hover:-translate-y-1 hover:border-[#ff7a00]">
                                            <div class="flex items-center gap-4">
                                                <div class="bg-[#FF7A00] rounded-md p-3 flex items-center justify-center">
                                                    <i
                                                        class={`${t.icon} text-white`}
                                                    />
                                                </div>
                                                <h4 class="text-2xl font-bold">
                                                    {t.title}
                                                </h4>
                                            </div>
                                            <p class="text-muted-foreground">
                                                {t.description}
                                            </p>
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="w-full flex justify-center h-full bg-[#FF7A00]"
            id="politicas"
        >
            <div
                class="lg:w-[65%] md:w-[75%] sm:w-[85%] w-full h-full flex justify-center items-center my-20"
            >
                <div class="w-full h-auto">
                    <div
                        class="flex flex-col gap-4 w-full text-white lg:px-10 px-2"
                    >
                        <h2 class="text-2xl font-bold text-center">
                            Política de privacidad
                        </h2>
                        <div class="flex flex-col gap-3">
                            {
                                indexTexts.PRIVACY_POLICY_CONTENT.map((p) => (
                                    <div class="flex flex-col gap-1">
                                        <strong>{p.title}</strong>
                                        <p>{p.content}</p>
                                        {p.subtext &&
                                            p.subtext.map((t) => <p>{t}</p>)}
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="w-full flex flex-col items-center justify-center h-full"
            id="terminos"
        >
            <div
                class="lg:w-[65%] md:w-[75%] sm:w-[85%] w-full h-full flex justify-center items-center my-20"
            >
                <div class="w-full h-auto">
                    <div class="flex flex-col gap-4 w-full lg:px-10 px-2">
                        <h2 class="text-2xl font-bold text-center">
                            {indexTexts.TERMS_AND_CONDITIONS_TITLE}
                        </h2>
                        <div class="flex flex-col gap-3">
                            {
                                indexTexts.TERMS_AND_CONDITIONS_CONTENT &&
                                    indexTexts.TERMS_AND_CONDITIONS_CONTENT.map(
                                        (t) => (
                                            <div class="flex flex-col gap-1">
                                                <strong>{t.title}</strong>
                                                {t.subtext.map((sub_t) => (
                                                    <p>{sub_t}</p>
                                                ))}
                                            </div>
                                        ),
                                    )
                            }
                        </div>
                    </div>
                </div>
            </div>
            <footer
                class="w-full flex justify-center items-center shadow-lg h-10"
            >
                <p class="text-center font-bold text-[10px] md:text-base">
                    Copyright © 2024 Naranja Erp. Todos los derechos
                    reservados. <span
                        class="hover:-translate-y-1 hover:scale-105 transition-all"
                        ><a href="#politicas" class="text-[#FF7A00]"
                            >Política de privacidad</a
                        ></span
                    >
                </p>
            </footer>
        </div>
    </body>
</html>
